:root {
  --sans: "Fredoka", sans-serif;

  font: 18px/145% var(--sans);
  color: #28444c;
  background: #f8fff8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  min-height: 100svh;
}

body {
  margin: 0;
  font-family: var(--sans);
}
